<nh-header></nh-header>

<main>
  <div class="container">
    <h1> your sites. </h1>
    <pre>
      api_token = {{token}}
    </pre>
    <div class="sites">
      <a class="one-third column" ng-repeat="site in sites | orderBy: '+title'" href="/sites/{{site.slug}}">
        <span class="remove" ng-click="delete_site(site, $event)">&times;</span>
        <h3>{{site.title}}</h3>
        <code> app_slug = {{site.shown_slug}} </code>
      </a>
      <a class="one-third column" href="/sites/new">
        <h3 class="new">new site.</h3>
      </a>
    </div>
  </div>
</main>

<nh-footer></nh-footer>