<nh-header></nh-header>

<main>
  <div class="container form">
    <h2> sign in. </h2>
    <form novalidate>
      <ul class="errors">
        <li ng-repeat="error in errors">{{error}}</li>
      </ul>
      <label for="email">Email:</label>
      <input name="email" type="email" ng-model="user.email"> <br>

      <label for="password">Password:</label>
      <input name="password" type="password" ng-model="user.password"></br>

      <input type="submit" ng-click="login(user)" value="sign in.">
    </form>
  </div>
</main>