<nh-header></nh-header>

<main>
  <div class="container form">
    <h2> sign up. </h2>
    <form>
      <ul class="errors">
        <li ng-repeat="error in errors">{{error}}</li>
      </ul>
      <label for="email">Email:</label>
      <input name="email" type="email" ng-model="user.email"> <br>

      <label for="password">Password:</label>
      <input name="password" type="password" ng-model="user.password"></br>

      <label for="password_confirm">Password Confirmation:</label>
      <input name="password_confirm" type="password" ng-model="user.password_confirmation"></br>

      <input type="submit" ng-click="register(user)">
    </form>
  </div>
</main>