<nh-header></nh-header>

<main>
  <div class="container">
    <h2 class="center"> new page. </h2>
    <form novalidate>
      <ul class="errors">
        <li ng-repeat="error in errors">{{error}}</li>
      </ul>
      <label for="title">Title:</label>
      <input name="title" type="text" ng-model="page.title" required> <br>

      <label for="html">HTML:</label>
      <textarea name="html" ng-model="page.html" required></textarea></br>

      <input type="submit" class="wymupdate" value="save.">
    </form>
  </div>
</main>

<nh-footer></nh-footer>