<nh-header></nh-header>

<main>
  <div class="container form">
    <h2> new site. </h2>
    <form novalidate>
      <ul class="errors">
        <li ng-repeat="error in errors">{{error}}</li>
      </ul>
      <label for="title">Title:</label>
      <input name="title" type="text" ng-model="site.title" required> <br>

      <label for="url">URL:</label>
      <input name="url" type="text" ng-model="site.url"></br>

      <input type="submit" ng-click="create_site(site)" value="save.">
    </form>
  </div>
</main>

<nh-footer></nh-footer>