<nh-header></nh-header>

<main>
  <div class="container">
    <h1>{{site.title}} <a href="/sites/{{site.slug}}/edit">Edit</a></h1>


    <div class="site_meta">

      <pre>
        app_slug = {{site.slug}}
        app_token = {{site.application_token}}
      </pre>
    </div>

    <div class="pages">
      <a class="one-third column" ng-repeat="page in site.pages" href="/sites/{{site.slug}}/pages/{{page.slug}}/edit"><h3>{{page.title}}</h3></a>
      <a class="one-third column" href="/sites/{{site.slug}}/pages/new"><h3>new page.</h3></a>
    </div>
  </div>
</main>