<!DOCTYPE html>
<html ng-app="NinjahippoCMS">
<head>
  <title>Ninjahippo CMS</title>
  <%= csrf_meta_tags %>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link href='http://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="styles/skeleton/base.css">
  <link type="text/css" rel="stylesheet" href="styles/skeleton/skeleton.css">
  <link type="text/css" rel="stylesheet" href="styles/skeleton/layout.css">
  <link type="text/css" rel="stylesheet" href="styles/style.css">
</head>
<body>

<div>
<%= yield %>
</div>

</body>
</html>
