<!DOCTYPE html>
<html ng-app="NinjahippoCMS">
<head>
  <title>ninjahippo</title>
  <%= csrf_meta_tags %>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link href='http://fonts.googleapis.com/css?family=Lilita+One' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="/wymeditor/skins/default/skin.css">
  <link type="text/css" rel="stylesheet" href="/bower_components/angular-loading-bar/loading-bar.css">
  <link type="text/css" rel="stylesheet" href="/styles/skeleton/base.css">
  <link type="text/css" rel="stylesheet" href="/styles/skeleton/skeleton.css">
  <link type="text/css" rel="stylesheet" href="/styles/skeleton/layout.css">
  <link type="text/css" rel="stylesheet" href="/styles/style.css">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
</head>
<body>

<div>
<%= yield %>
</div>

</body>
</html>
